/* Global reset */

:root {
    /* Color CSS variables */
    --color-primary: #000000;
    --color-secondary: #e0e0e0;
    --color-grey: #828282;
    --color-grey-light: #e0e0e0;
    --color-grey-dark: #333333;
    --color-white: #ffffff;
    --color-black: #000000;
    /* Background color */
    --color-background: #ffffff;
}


html {
    font-size: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-moz-selection,
* {
    color: var(--color-white);
}

*::-moz-placeholder,
*:-ms-input-placeholder,
*::placeholder {
    opacity: 0.7;
    color: var(--color-grey);
}

*::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background-color: var(--color-background); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-primary); /* color of the scroll thumb */
    border-radius: 100vh; /* roundness of the scroll thumb */
    border: 3px solid var(--color-background); /* creates padding around scroll thumb */
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-grey);
}

/* General styling properties and typography start */
body {
    min-height: 100vh;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.5px;
    color: var(--color-primary) !important;
    overflow-x: hidden !important;
    background-color: var(--color-background) !important;
}


@media screen and (max-width: 81em) {
    body {
        background-size: 65px 65px;
    }
}

@media screen and (max-width: 53em) {
    body {
        background-size: 50px 50px;
    }
}




h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    letter-spacing: 0.5px;
    color: var(--color-primary) !important;
}

h1 {
    font-size: 2rem !important;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3,
h4 {
    font-size: 1.125rem;
    font-weight: 600;
}

p {
    /* // max-width: 100ch; */
    color: var(--color-primary);
}

div {
    color: var(--color-primary);
}

/* // Link styles in the right order */
a {
    font-family: inherit;
    /*font-size: var(--fs-18);*/
    font-weight: 400;
    color: var(--color-primary) !important;
    letter-spacing: 0.5px;
    text-decoration: none;
}

a:link {
}

a:visited {
    color: inherit;
}

a:focus {
    /*padding: 0.25em;*/
}

a:hover {
}

a:active {
    color: inherit;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

iframe {
    border: 0;
    display: block;
    max-width: 100%;
}

button,
input,
textarea {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

button {
    cursor: pointer;
    background-color: var(--color-secondary);
}